<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1544027993-37dbfe43562a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
  <div class="container">
    <div class="text-banner">
      <h5 style="margin-bottom: 35px;">Les initiales EMDR signifient eye movement desensitization and reprocessing c’est-à-dire désensibilisation et retraitement par les mouvements oculaires.</h5>
      <a href="#" class="btn-rdv" style="text-decoration: none;">En savoir plus</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="emdr-what">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 50px; margin-bottom: 30px;">L'E.M.D.R qu'est ce que c'est ?</h3>
    <div data-aos="fade-right" class="emdr-img" style="margin: 0 auto; width: 138px; height: 138px; background-image: url('http://psychologist.ancorathemes.com/wp-content/uploads/2016/04/Icon-4-1.png')"></div>
    <!-- <p data-aos="fade-left" class="text-center">La thérapie EMDR utilise une stimulation sensorielle bi-alternée (droite-gauche) qui se pratique par mouvements oculaires – le patient suit les doigts du thérapeute qui passent de droite à gauche devant ses yeux – , mais aussi par stimuli auditifs – le patient porte un casque qui lui fait entendre alternativement un son à droite, puis à gauche – ou tactiles – le patient tient dans les mains des buzzers qui vibrent alternativement de droite à gauche, ou bien le thérapeute tapote alternativement les genoux du patient ou le dos de ses mains.</p> -->
    <p data-aos="fade-left" class="text-center" style="margin-top: 50px;">L’EMDR est une thérapie <strong>brève</strong>, permettant de diminuer la charge émotionnelle associée à un souvenir traumatique.  Le thérapeute provoque une stimulation sensorielle, comme déplacer rapidement ses doigts devant le visage de la personne. Le mouvement rythmique des deux yeux serait le même que celui qui a lieu spontanément lorsqu’un individu rêve (durant la phase dite Rapid Eye Movement). De façon générale, l’EMDR permet d’engendrer des sentiments positifs, lui permettant ainsi d’adopter les changements désirés.</p>
  </div>
  <div class="emdr-consul">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 50px; margin-bottom: 30px;">Comment se passe une séance de traitement E.M.D.R ?</h3>
    <div data-aos="fade-right" class="emdr-img" style="margin: 0 auto; width: 138px; height: 138px; background-image: url('http://psychologist.ancorathemes.com/wp-content/uploads/2016/04/Icon-1-1.png')"></div>
    <p data-aos="fade-left" class="text-center" style="margin-top: 50px;">Le processus psychique de traitement activé par la méthode est un processus conscient. Il correspond à ce que fait naturellement notre cerveau quand il ne se bloque pas.
      Au début, le praticien demande au patient de se concentrer sur le souvenir traumatique, en gardant à l’esprit les aspects sensoriels les plus perturbants (image, son, odeur, sensation physique), ainsi que les pensées et ressentis actuels négatifs qui y sont associés. <br>
      Le praticien pratique alors des séries de stimulations bilatérales alternées rapides; entre chaque série, le patient dit ce qui lui vient à l’esprit ; il n’y a aucun effort à faire pendant la stimulation pour obtenir tel ou tel type de résultat, l’évènement se retraite spontanément et différemment pour chaque personne selon son vécu, sa personnalité, ses ressources, sa culture.
      Le praticien continue les stimulations jusqu’à ce que le souvenir ne génère plus de perturbations mais soit mis à distance, « effacé », ait perdu sa vivacité. Ensuite, toujours avec des stimulations bilatérales alternées rapides, il aide le patient à associer à ce souvenir une pensée positive, constructive, pacifiante, et à évacuer d’éventuels restes physiques désagréables.</p>
  </div>
</div>
<div class="pricing">
  <div class="container">
    <h3 class="text-center">Nos tarifs:</h3>
    <p class="text-center">HAGUENAU</p>
    <p class="text-center">Durée d'une séance: 1h</p>
    <p class="text-center">Forfait: 50€</p>
    <div class="border"></div>
    <p class="text-center" style="margin-top: 10px;">STRASBOURG</p>
    <p class="text-center">Durée d'une séance: 1h</p>
    <p class="text-center">Forfait Enfants/Adolescents : 50€</p>
    <p class="text-center">Forfait Adultes : 75€</p>
    <div class="btn d-flex justify-content-center">
      <a style="text-decoration: none; margin: 0 auto;" href="#" class="btn-rdv">Prendre RDV</a>
    </div>
    <p class="text-center" style="color: rgba(255, 255, 255, 0.7)">Nous n'acceptons pas de paiement par carte de crédit.</p>
  </div>
</div>
<div class="container">
  <div class="about">
    <h3 data-aos="fade-up" class="text-center" style="margin: 30px 0;">Votre thérapeute</h3>
    <div data-aos="fade-right" class="emdr-img" style="border-radius: 50%; background-size: cover; background-position: center; margin: 0 auto; width: 138px; height: 138px; background-image: url('assets/photo_therapeute.jpg')"></div>
    <p data-aos="fade-left" class="text-center" style="font-size: 15px;margin-top: 35px;">Psychothérapeute Diplômé en EMDR MATH APFS par l’Institut QCF à Lille (59). Formations de psychothérapie brève d’approches intégratives, apprentissage d’outils pédagogiques reconnus dans la prise en soins des troubles et difficultés de vie qu’il s’agisse de l’enfant, de l’adolescent, de l’adulte ou du couple.</p>
  </div>
  <div class="emdr-what">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 50px;">Mesures relatives au COVID-19</h3>
    <div data-aos="fade-right" class="emdr-img" style="border-radius: 50%; background-size: cover; background-position: center; margin: 0 auto; width: 138px; height: 138px; background-image: url('assets/coronavirus.png')"></div>
    <p data-aos="fade-left" class="text-center" style="margin-top: 50px;">L'ARRIVÉE AU CABINET</p>
    <p data-aos="fade-left" class="text-center">L'accès au cabinet ne sera autorisé qu'au patient disposant d'un rendez-vous, accompagné éventuellement d'un un enfant mineur.
Le patient devra se présenter au rendez-vous à l'heure convenue, et non en avance.
Un temps de latence sera respecté entre deux rendez-vous afin de prévoir la désinfection et l'aération du cabinet, et d'éviter tout croisement entre les patients.
A l'arrivée au cabinet, le patient doit porter un masque avant d'entrer, je porterai également un masque.</p>
    <p data-aos="fade-right" class="text-center">LE DÉROULEMENT DE LA SÉANCE</p>
    <p data-aos="fade-right" class="text-center">Une fois la porte d'entrée franchie, le patient devra immédiatement se désinfecter les mains. Une solution de gel hydro-alcoolique sera mise à disposition si la personne n'en dispose pas. Je me laverai également les mains soigneusement.
Le port du masque ou de la visière est obligatoire durant toute la séance.
La présence d'un tiers (parent, aidant) pendant la séance ne sera pas tolérée, dans le respect des règles de mise à distance et des gestes barrières.
Le patient devra s'abstenir de toucher les objets personnels du thérapeute, comme par exemple les stylos, les livres ou le bureau.
Une distance minimale de 1 mètre sera respectée entre le patient et le thérapeute.  </p>
<p data-aos="fade-left" class="text-center">LA FIN DE LA SÉANCE</p>
<p data-aos="fade-left" class="text-center">A la sortie du cabinet, le patient devra éviter tout contact avec une surface (porte, poignée de porte) avant de se retrouver à l'extérieur. Pour cela, je raccompagnerai chacun et c'est moi qui ouvrirai les portes jusqu'à la sortie.</p>
  </div>
</div>
<div class="map-contact-info">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="contact-info">
      <p>Nous consultons uniquement sur rendez-vous, contactez nous:</p>
      <i class="fas fa-phone-alt" style="color: #69D1EE;"></i>  06.37.10.68.83 <br>
      <i class="fas fa-map-marker-alt" style="color: #69D1EE;"></i>  10 rue des Francs Bourgeois / 11 rue du Marché aux grains <br>
      <i class="fas fa-at" style="color: #69D1EE;"></i> emdr-haguenau@gmx.com
    </div>
    <p>ou prenez un RDV en ligne</p>
    <div class="doctolib">
      <a style="text-decoration: none;" href="#" class="btn-rdv">Prendre RDV en ligne</a>
    </div>
  </div>
</div>
<div id="map"></div>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var mathilde = {lat: 48.581460, lng: 7.746154};
  var haguenauCabinet = {lat: 48.814333, lng: 7.792058};
  var centerCard = {lat: 48.718616, lng: 7.720120};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: centerCard});
  // The marker, positioned at ferme
  var marker = new google.maps.Marker({position: mathilde, map: map, title: 'Chez moi!'});
  var markerHag = new google.maps.Marker({position: haguenauCabinet, map: map, title: 'Chez moi!'});

}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2RWHdp6L9HOfpFyX1l7lL3OqXqzHdmg&callback=initMap">google.maps.event.addDomListener(window,'load', initMap);</script>
