<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1544027993-37dbfe43562a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
  <div class="container">
    <div class="text-banner">
      <h5 style="margin-bottom: 35px;">Les initiales EMDR signifient eye movement desensitization and reprocessing c’est-à-dire désensibilisation et retraitement par les mouvements oculaires.</h5>
      <a href="#" class="btn-rdv" style="text-decoration: none;">En savoir plus</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="emdr-what">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 50px;">L'E.M.D.R c'est quoi ?</h3>
    <div data-aos="fade-right" class="emdr-img" style="margin: 0 auto; width: 138px; height: 138px; background-image: url('http://psychologist.ancorathemes.com/wp-content/uploads/2016/04/Icon-4-1.png')"></div>
    <p data-aos="fade-left" class="text-center">La thérapie EMDR utilise une stimulation sensorielle bi-alternée (droite-gauche) qui se pratique par mouvements oculaires – le patient suit les doigts du thérapeute qui passent de droite à gauche devant ses yeux – , mais aussi par stimuli auditifs – le patient porte un casque qui lui fait entendre alternativement un son à droite, puis à gauche – ou tactiles – le patient tient dans les mains des buzzers qui vibrent alternativement de droite à gauche, ou bien le thérapeute tapote alternativement les genoux du patient ou le dos de ses mains.</p>
    <p data-aos="fade-left" class="text-center">Depuis près de de 30 ans la thérapie EMDR a prouvé son efficacité à travers de très nombreuses études scientifiques contrôlées mises en place par des chercheurs et cliniciens du monde entier. Elle est principalement validée pour le trouble de stress post-traumatique (TSPT), qui est la dénomination scientifique de ce qu’on appelle aussi plus communément le psychotrauma.</p>
  </div>
  <div class="emdr-consul">
    <h3 data-aos="fade-up" class="text-center">Comment se passe une séance de traitement E.M.D.R ?</h3>
    <div data-aos="fade-right" class="emdr-img" style="margin: 0 auto; width: 138px; height: 138px; background-image: url('http://psychologist.ancorathemes.com/wp-content/uploads/2016/04/Icon-1-1.png')"></div>
    <p data-aos="fade-left">Des séances de préparation préalables</p>
    <p data-aos="fade-left">Du fait de l’effet puissant de cette thérapie sur le psychisme du patient, une préparation est indispensable. Les entretiens préliminaires permettent de : <br>
      –    construire une relation thérapeutique de confiance avec son praticien ; <br>
      –    identifier avec lui une problématique actuelle susceptible d’être traitée en EMDR, puis les souvenirs traumatiques à l’origine de ces difficultés ; <br>
      –    et enfin de mettre en place des outils psychocorporels de stabilisation émotionnelle qui peuvent être utilisés en cours de séance ainsi qu’en pratique autonome entre les séances.</p>
    <p data-aos="fade-left">Le processus psychique de traitement activé par la méthode est un processus conscient. Il correspond à ce que fait naturellement notre cerveau quand il ne se bloque pas.
      Au début, le praticien demande au patient de se concentrer sur le souvenir traumatique, en gardant à l’esprit les aspects sensoriels les plus perturbants (image, son, odeur, sensation physique), ainsi que les pensées et ressentis actuels négatifs qui y sont associés. <br>
      Le praticien pratique alors des séries de stimulations bilatérales alternées rapides; entre chaque série, le patient dit ce qui lui vient à l’esprit ; il n’y a aucun effort à faire pendant la stimulation pour obtenir tel ou tel type de résultat, l’évènement se retraite spontanément et différemment pour chaque personne selon son vécu, sa personnalité, ses ressources, sa culture.
      Le praticien continue les stimulations jusqu’à ce que le souvenir ne génère plus de perturbations mais soit mis à distance, « effacé », ait perdu sa vivacité. Ensuite, toujours avec des stimulations bilatérales alternées rapides, il aide le patient à associer à ce souvenir une pensée positive, constructive, pacifiante, et à évacuer d’éventuels restes physiques désagréables.</p>
  </div>
</div>
<div class="pricing">
  <div class="container">
    <h3 class="text-center">Nos tarifs:</h3>
    <p class="text-center">E.M.D.R</p>
    <p class="text-center">Durée d'une séance: 1h30</p>
    <p class="text-center">Forfait: 50€</p>
    <div class="border"></div>
    <p class="text-center" style="margin-top: 10px;">LUMINOTHÉRAPIE</p>
    <p class="text-center">Durée d'une séance: de 20 à 40 minutes</p>
    <p class="text-center">Forfait: 25€</p>
    <div class="btn d-flex justify-content-center">
      <a style="text-decoration: none; margin: 0 auto;" href="#" class="btn-rdv">Prendre RDV</a>
    </div>
    <p class="text-center" style="color: rgba(255, 255, 255, 0.7)">Nous n'acceptons pas de paiement par carte de crédit.</p>
  </div>
</div>
<div class="container">
  <div class="about">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 30px;">Notre équipe:</h3>
    <p data-aos="fade-left" class="text-center" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tempore numquam dolor omnis maiores laudantium totam? Quas consequuntur quibusdam dolor, amet incidunt, non velit. Modi libero eum quibusdam, a tempora quae id ratione provident! Ea delectus quasi consequatur, alias non architecto quos, quia similique, sapiente odit iste, velit? Dicta aliquid a delectus modi quod. Qui, vero corrupti dolorem minima delectus eum, incidunt, nulla voluptatibus magnam dignissimos unde. Sequi porro possimus voluptate velit odio laboriosam at, qui, quasi quibusdam eius debitis. Possimus est quas adipisci repellat fuga debitis nisi minima, molestias vitae unde praesentium quibusdam eaque eos temporibus voluptatem aspernatur illo?</p>
  </div>
  <div class="emdr-what">
    <h3 data-aos="fade-up" class="text-center" style="margin-top: 50px;">L'E.M.D.R c'est quoi ?</h3>
    <div data-aos="fade-right" class="emdr-img" style="margin: 0 auto; width: 138px; height: 138px; background-image: url('http://psychologist.ancorathemes.com/wp-content/uploads/2016/04/Icon-4-1.png')"></div>
    <p data-aos="fade-left" class="text-center">La thérapie EMDR utilise une stimulation sensorielle bi-alternée (droite-gauche) qui se pratique par mouvements oculaires – le patient suit les doigts du thérapeute qui passent de droite à gauche devant ses yeux – , mais aussi par stimuli auditifs – le patient porte un casque qui lui fait entendre alternativement un son à droite, puis à gauche – ou tactiles – le patient tient dans les mains des buzzers qui vibrent alternativement de droite à gauche, ou bien le thérapeute tapote alternativement les genoux du patient ou le dos de ses mains.</p>
    <p data-aos="fade-left" class="text-center">Depuis près de de 30 ans la thérapie EMDR a prouvé son efficacité à travers de très nombreuses études scientifiques contrôlées mises en place par des chercheurs et cliniciens du monde entier. Elle est principalement validée pour le trouble de stress post-traumatique (TSPT), qui est la dénomination scientifique de ce qu’on appelle aussi plus communément le psychotrauma.</p>
  </div>
</div>
<div class="map-contact-info">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="contact-info">
      <p>Nous consultons uniquement sur rendez-vous, contactez nous:</p>
      <i class="fas fa-phone-alt" style="color: #69D1EE;"></i>  06.37.10.68.83 <br>
      <i class="fas fa-map-marker-alt" style="color: #69D1EE;"></i>  10 rue des Francs Bourgeois / 11 rue du Marché aux grains <br>
      <i class="fas fa-at" style="color: #69D1EE;"></i> emdr-haguenau@gmx.com
    </div>
    <p>ou prenez rdv directement avec Doctolib</p>
    <div class="doctolib">
      <a style="text-decoration: none;" href="#" class="btn-rdv">Prendre RDV avec Doctolib</a>
    </div>
  </div>
</div>
<div id="map"></div>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var mathilde = {lat: 48.581460, lng: 7.746154};
  var haguenauCabinet = {lat: 48.814333, lng: 7.792058};
  var centerCard = {lat: 48.718616, lng: 7.720120};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: centerCard});
  // The marker, positioned at ferme
  var marker = new google.maps.Marker({position: mathilde, map: map, title: 'Chez moi!'});
  var markerHag = new google.maps.Marker({position: haguenauCabinet, map: map, title: 'Chez moi!'});

}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2RWHdp6L9HOfpFyX1l7lL3OqXqzHdmg&callback=initMap">google.maps.event.addDomListener(window,'load', initMap);</script>
